/* Article section */

.article {
  max-width: var(--width-2xl);
  margin-left: 450px;
  margin-right: 10px;
  padding: auto;
  padding-top: 30px;

  background-image: url(/assets/images/elcarmelo.png); 
    background-size: 300px 600px; 
    background-position: center; 
    background-repeat: repeat-y;
}

.article2 {
  max-width: var(--width-2xl);
  margin-inline: auto;
  padding: auto;
  padding-top: 30px;
}

.article__header {
  margin-bottom: 16px;
}

.article__header .article-metadata {
  margin-bottom: 8px;
}

.article h2[id] {
  scroll-margin-top: var(--spacing-24);
}
