/* 
  <a class="back-to-top">
    <svg></svg>
    top
  </a>
*/

.back-to-top {
  display: flex;
  flex-direction: column;
  width: var(--spacing-12);
  height: var(--spacing-12);
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded-3xl);
  background-color: var(--muted);

  color: var(--foreground);
  font-size: var(--font-xs);
  line-height: var(--leading-4);
  text-decoration: none;

  margin-left: auto;
  position: sticky;
  bottom: var(--spacing-4);

  transition: background-color 300ms, transform 300ms;

  animation: reveal-from-bottom 500ms backwards;
  animation-delay: 500ms;
}

.back-to-top:hover {
  background-color: var(--neutral-200);
  transform: translateY(-5%);
}

@keyframes reveal-from-bottom {
  from {
    transform: translateY(calc(100% + var(--spacing-4)));
  }
  to {
    transform: translateY(0);
  }
}
