
#formlogin > h2 {
    text-align: center;
    font-size: var(--font-2xl);
    font-weight: bold;
    font-family: var(--text);
    line-height: var(--leading-8);
}

#formlogin{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 4rem 2rem 4rem;
}