/*
<nav class="navigation">
  <ul>
    <li class="active"><a href="">..</a></li>
    <li><a href="">..</a></li>
    <li><a href="">..</a></li>
  </ul>
</nav>
*/

.navigation ul {
  list-style: none;
  display:block ;
}

.navigation a {
  display: block;
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--rounded-md);

  color: var(--white);
  font-size: var(--font-sm);
  font-weight: 500;
  line-height: var(--leading-5);
  text-decoration: none;

  transition: background-color 300ms;
}

.navigation a:hover {
  background-color: var(--background-hover);
  color: black;
}

.navigation .active a {
  background-color: var(--background-active);
}

.navigation .active a:hover {
  background-color: var(--background-hover);
  color: black;
}

@media (min-width: 40rem){
  .navigation ul {
    list-style: none;
    display: flex;
    gap: 32px;
  }
}