/* .testimonials {
} */

.testimonials__header {
  max-width: var(--width-2xl);
  margin-inline: auto;

  text-align: center;
  margin-bottom: var(--spacing-16);
}

.testimonials__title {
  font-family: var(--display);
  font-size: var(--font-4xl);
  font-weight: 600;
  line-height: var(--leading-none);

  margin-bottom: var(--spacing-6);
}

.testimonials__grid {
  max-width: min(var(--width-4xl), 100%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: var(--spacing-8);
}

.testimonials__efect :hover {
  transform: scale(1.2);
}

.testimonials__item:hover .author__info{
  transform: scale(1); 
}

.testimonials__item:hover .author_name{
  transform: scale(1); 
}
.testimonials__item:hover .article-summary__text {
  transform: scale(1); 
}



.testimonials__item {
  padding: var(--spacing-8);
  border-radius: var(--rounded-2xl);
  /*background: var(--muted);*/
  background-size: cover; /* o 'contain' si prefieres */
  background-position: center;
  background-repeat: no-repeat;
  width: 300px; /* Asigna un ancho de 300px */
  height: 320px; /* Asigna una altura de 200px */
}

.testimonials__item[data-background-image="cover_laboral"] {
  background-image: url(/assets/images/cover_laboral.jpg);
}

.testimonials__item[data-background-image="cover_educativa"] {
  background-image: url(/assets/images/cover_educativa.jpg);
}

.testimonials__item[data-background-image="cover_sst"] {
  background-image: url(/assets/images/cover_sst.jpg);
}

.testimonials__item[data-background-image="cover_ocupacional"] {
  background-image: url(/assets/images/cover_ocupacional.jpg);
}

.testimonials__item > .author {
  margin-top: var(--spacing-6);
}

.testimonials__text {
  font-size: var(--font-xl);
  line-height: var(--leading-6);
  text-shadow: 
        -1px -1px 0 #fff,  
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

.testimonials__text::before,
.testimonials__text::after {
  content: '"';
}

@media (min-width: calc(80rem + 4rem)) {
  /* media query ajustada para contemplar paddings y evitar 2 filas de testimonios */
  .testimonials__grid {
    max-width: unset;
  }
}

.testimonial-link {
  text-decoration: none; 
  color: inherit;
}

.testimonial-link .testimonials__item {
  pointer-events: none; 
}

.testimonial-link .testimonials__item * {
  pointer-events: auto;
}

